@page "/cities/create"
@using Emploees.Domain
@using Microsoft.EntityFrameworkCore
@using Emploees.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Создать</PageTitle>

<h1>Создать</h1>

<h2>Город</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="City" OnValidSubmit="AddEntity" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Наименование:</label>
                <InputText id="name" @bind-Value="City.Name" class="form-control" />
                <ValidationMessage For="() => City.Name" class="text-danger" />
            </div>        
            <button type="submit" class="btn btn-primary">Создать</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/сities">Назад</a>
</div>

@code {
    [SupplyParameterFromForm]
    private City City { get; set; } = default!;

    protected override void OnInitialized() => City ??= new() { Id = Guid.CreateVersion7().ToString() };

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddEntity()
    {
        using var context = DbFactory.CreateDbContext();
        context.Cities.Add(City);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/cities");
    }
}
