@page "/cities/edit"
@using Emploees.Domain
@using Microsoft.EntityFrameworkCore
@using Emploees.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Изменить</PageTitle>

<h1>Изменить</h1>

<h2>Город</h2>
<hr />
@if (City is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="City" OnValidSubmit="UpdateEntity" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Entity.Id" value="@City.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Наименование:</label>
                    <InputText id="name" @bind-Value="City.Name" class="form-control" />
                    <ValidationMessage For="() => City.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/cities">Назад</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    [SupplyParameterFromForm]
    private City? City { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        City ??= await context.Cities.FirstOrDefaultAsync(m => m.Id == Id);

        if (City is null)
        {
            NavigationManager.NotFound();
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateEntity()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(City!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!EntityExists(City!.Id))
            {
                NavigationManager.NotFound();
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/cities");
    }

    private bool EntityExists(string id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Cities.Any(e => e.Id == id);
    }
}
