@page "/locations/details"
@using Emploees.Domain
@using Microsoft.EntityFrameworkCore
@using Emploees.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Детали</PageTitle>

<h1>Детали</h1>

<div>
    <h2>Локация</h2>
    <hr />
    @if (location is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Наименование</dt>
            <dd class="col-sm-10">@location.Name</dd>
        </dl>
        <div>
            <a href="@($"/locations/edit?id={location.Id}")">Изменить</a> |
            <a href="@($"/locations")">Назад</a>
        </div>
    }
</div>

@code {
    private Location? location;

    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        location = await context.Locations.FirstOrDefaultAsync(m => m.Id == Id);

        if (location is null)
        {
            NavigationManager.NotFound();
        }
    }
}
