@page "/locations"
@using Emploees.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@implements IAsyncDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<PageTitle>Локации</PageTitle>

<h1>Локации</h1>

<p>
    <a href="locations/create">Создать</a>
</p>

<QuickGrid Class="table" Items="context.Locations">
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="entity => entity.Name" Title="Наименование" />

    <Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn Context="entity">
        <a href="@($"locations/edit?id={entity.Id}")">Изменить</a> |
        <a href="@($"locations/details?id={entity.Id}")">Детали</a> |
        <a href="@($"locations/delete?id={entity.Id}")">Удалить</a>
    </Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
