@page "/catalog_сотрудники_zup"
@using Emploees.Application
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Emploees.Domain
@using Emploees.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Emploees.Data.ApplicationDbContext> DbFactory
@inject IZupService ZupService

<PageTitle>Сотрудники ЗУП</PageTitle>

<h1>Сотрудники ЗУП (@(context.Catalog_Сотрудники_Zup.Count()))</h1>

<button class="btn btn-primary mb-2" type="button" @onclick="RefreshCatalog">
	@if (isRefreshing)
	{
		<span>Обновляются данные </span>
		<div class="spinner-border spinner-border-sm" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	}
	else
	{
		<span>Обновить данные из 1С ЗУП</span>
	}
</button>

<QuickGrid Class="table" Items="context.Catalog_Сотрудники_Zup" @ref="catalogGrid">
	<Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="item => item.Code" />
	<Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="item => item.Description" />
	<Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="item => item.DeletionMark" />
	<Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="item => item.ВАрхиве" />
</QuickGrid>

@code {
	private QuickGrid<Catalog_Сотрудники_Zup>? catalogGrid;
	private ApplicationDbContext context = default!;
	private bool isRefreshing = false;

	protected override async Task OnInitializedAsync()
	{
		context = DbFactory.CreateDbContext();
	}

	private async Task RefreshCatalog(MouseEventArgs args)
	{
		isRefreshing = true;

		await ZupService.RefreshCatalog();

		if (catalogGrid is not null)
			await catalogGrid.RefreshDataAsync();

		isRefreshing = false;
	}


	public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
